personalAccessToken=
hostUrl=https://git.DOMAIN.com/
sheetId=1XhxJ8SvU_FBmKXG7UzWRQ806hYku96Mdsfeaffdff

## poyects=projectName1:closedIssuesAtStart,projectName2:closedIssuesAtStart,...
projects=projectx:1399,projecty:1265

## MySql
mysqlHost=
mysqlUser=
mysqlPass=
mysqlDatabase=