personalAccessToken=
hostUrl=https://git.DOMAIN.com/
sheetId=

## poyects=projectName1:closedIssuesAtStart,projectName2:closedIssuesAtStart,...
projects=projectx:1399,projecty:1265

## teams=teamName1:closedIssuesAtStart,teamName2:closedIssuesAtStart,...
teams=teamx:1399,teamy:1265
teamLabels=team1Name:team1Label,team2Name:team2Label

## MySql
mysqlHost=
mysqlUser=
mysqlPass=
mysqlDatabase=